*{
    margin: 0px;
    padding: 0px;
    font: sans-serif;
}

body{
    background: url(por.jpg);
    background-size: cover;
    background-repeat: x;
    background-position: center;
    height: 100vh;
}

nav{
    display: flex;
    font-size: 25px;
    padding: 10px;
}

nav ul li a:hover{
    color: #fff
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}



.banner-text{
    padding-top: 150px;
    text-align: center;
    margin: 50px;
    color: #fff;

}

img{
    max-width: 100%;
    max-height: 100%;

}

.text{
    font-size: 70px
}




